@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after; {
	box-sizing: inherit;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	margin: 0;
	list-style-type: none;
}

.f-left {
	display: block;
	float: left;
}

.f-right {
	display: block;
	float: right;
}

/* COLOURS *************************************************/
.blue {
	color: paleturquoise;
}

.red {
	color: peachpuff;
}

.yellow {
	color: plum;
}	

.white {
	color: white;
}

.pink {
	color: lightpink;
}

.gray {
	color: slategray;
}

/* NAVIGATION **********************************************/
.title {
	background-color: #A0B0E0;
	color: white;
}

nav {
	width: 100%;
}

ul {
	padding: 0;
}

.menu {
	display: inline-block;
}

.menu-item {
	border-bottom: solid 2px;
}


/* BANNER **************************************************/
h1 {
	background-image: url(http://lorempixel.com/output/cats-q-c-1800-700-7.jpg);
	background-position: bottom;
	background-size: cover;
	height: 25vh;
}

/* SECTION A ***********************************************/
.img-a {
	background-image: url(http://lorempixel.com/output/cats-q-c-400-300-9.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 140%;
	background-color: pink;
	height: 100%;
	width: 100%;
}


/* SECTION B ***********************************************/
.partB {
	display: block;
}

.second {
	background-color: honeydew;
	width: 100%;
}

/* FOOTER **************************************************/
footer {
	background-color: #A0B0E0;
}

footer p {
	text-align: center;
}


/* MEDIA QUERIES *******************************************/
@media only screen and (min-width: 25em) {
}
@media only screen and (min-width: 38em) {

	h1 {
		height: 50vh;
	}

	footer p {
		text-align: left;
	}
}
@media only screen and (min-width: 60em) {}